//****************************************************************************
// Placeholders
//****************************************************************************

%bgAndColorTransition {
	transition: background-color 0.2s, color 0.2s, border 0.2s;
}

%clearfix {
	clear: both;

	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

%disabled {
	cursor: not-allowed;
	filter: grayscale(50%);
	opacity: 0.75;
	pointer-events: none;
}

%textEllipses {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

%radioCheckboxSharedProperties {
	cursor: pointer;
	display: flex;

	flex-direction: column;

	font-size: 0.95rem;
	font-weight: 400;
	height: auto;
	justify-content: center;
	position: relative;
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}
