@charset "UTF-8";
@import 'shared';

//*******************************************************************************************************************************
// Link
//*******************************************************************************************************************************

.themelink {
	color: $link;
	font-size: 1rem;
	font-weight: 700;
	text-decoration: none;
	transition: color 0.2s;

	&:hover,
	&:active {
		color: $alt;
		text-decoration: none;
	}
}

//****************************************************************************
// Component | Flex Table
//****************************************************************************

.item-link {
	cursor: pointer;
}

.flex-table {
	border: 0.1rem solid transparentize($color: $grayBlack, $amount: 0.8);
	border-radius: $globalRadius;
	box-shadow: $globalShadow;
	display: flex;
	flex-direction: column;

	.table-row:nth-child(odd) {
		background-color: $grayDarkAlt;
	}

	.table-row:first-child {
		border-top-left-radius: $globalRadius;
		border-top-right-radius: $globalRadius;
	}

	.table-row:last-child {
		border-bottom-left-radius: $globalRadius;
		border-bottom-right-radius: $globalRadius;
	}
}

.table-row {
	@include flex-row;

	background-color: $grayDark;
	border-bottom: 0.1rem solid $grayBlack;
	position: relative;

	&:last-child {
		border: 0;
	}

	> div {
		border-right: 0.1rem solid $grayBlack;

		&:last-child {
			border: 0;
		}
	}

	&:hover,
	&:nth-child(odd):hover {
		background-color: #c5ff571a;
	}

	//completed (special style)
	&.complete {
		.cell-status {
			color: $main;
		}

		.cell-auto {
			color: $grayMedium;
		}
	}
}

.cell-15px {
	@include flex-cell(0, 0, 1rem);
}

.cell-30px {
	@include flex-cell(0, 0, 2rem);
}

.cell-60px {
	@include flex-cell(0, 0, 4rem);
}

.cell-120px {
	@include flex-cell(0, 0.5, 8rem);
}

.cell-200px {
	@include flex-cell(0, 0.5, 14rem);
}

.cell-auto {
	@include flex-cell(1, 1, 20rem);
}

.cell-status {
	@include flex-cell(0, 0, 3rem);
	display: flex;
	flex-direction: row;
	justify-content: center;

	.fa {
		font-size: 1.5rem;
	}
}

.cell-symbol {
	@include flex-cell(0, 0, 2rem);
}

.cell-name {
	@include flex-cell(0, 0.5, 12rem);
}

.cell-type {
	@include flex-cell(0, 0.5, 8rem);
}

.cell-desc {
	@include flex-cell(1, 1, 18rem);
}

.cell-tags {
	@include flex-cell(1, 1, 300px);
}

.cell-id {
	@include flex-cell(0, 0, 60px);
}

//*******************************************************************************************************************************************************
// Plugin overwrites
//******************************************************************************************************************************************************

//****************************************************************************
// React Transition
//****************************************************************************

.nom-entering,
.nom-exited,
.nom-entered,
.nom-leaving, 
.entering,
// .exited,
.entered,
.leaving {
	animation: listItemEnterBorderFlash 2.5s;
	animation-iteration-count: once;
}

// .rt-tr-group {
// 	animation: listItemEnterBorderFlash 2.5s;
// 	animation-iteration-count: once;
// }

@keyframes listItemEnterBorderFlash {
	0% {
		border-color: $main;
		color: $main;
		opacity: 0;
		outline: 0.2rem solid $main;
	}

	100% {
		border-color: $grayLight;
		color: $grayLight;
		opacity: 1;
		outline: 0.2rem solid transparent;
	}
}

//****************************************************************************
// Plugin (style overwrite) | React-Table
//****************************************************************************

.ReactTable {
	border: 0.1rem solid transparentize($color: $grayBlack, $amount: 0.5);
	border-radius: $globalRadius;
	box-shadow: $globalShadow;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.75rem;

	.rt-tbody {
		border: 0.1rem solid transparentize($color: $grayBlack, $amount: 0.5);
		border-radius: $globalRadius;

		.rt-tr-group {
			background-color: $grayDarkAlt;
			border: 0.1rem solid transparentize($color: $grayBlack, $amount: 0.5);
			border-bottom: 0.1rem solid $grayBlack;
			position: relative;
			transition: background-color 0.2s ease-in-out;

			.rt-td:not(:last-child) {
				border-right: 0.1rem solid $grayBlack;
			}

			&:hover,
			&:nth-child(odd):hover {
				background-color: desaturate(adjust-hue(mix($grayBlack, $main, 20%), 40%), 30%);
			}

			&:nth-child(odd) {
				background-color: $grayDark;
			}

			&:first-child {
				border-top-left-radius: $globalRadius;
				border-top-right-radius: $globalRadius;
			}

			&:last-child {
				border-bottom-left-radius: $globalRadius;
				border-bottom-right-radius: $globalRadius;
			}
		}
	}
}

//****************************************************************************
// Plugin (style overwrite) | React-Select
//****************************************************************************

.rc-tooltip {
	box-shadow: $globalRadius;
	color: $grayBlack;
	max-width: 14rem;
	opacity: 1;
}

.rc-tooltip.rc-tooltip-animate-enter,
.rc-tooltip.rc-tooltip-animate-leave {
	display: block;
}

.rc-tooltip-animate-enter,
.rc-tooltip-animate-appear {
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-play-state: paused;
	animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
	opacity: 0;
}

.rc-tooltip-animate-leave {
	animation-duration: 0.2s;
	animation-fill-mode: both;
	animation-play-state: paused;
	animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
}

.rc-tooltip-animate-enter.rc-tooltip-animate-enter-active,
.rc-tooltip-animate-appear.rc-tooltip-animate-appear-active {
	animation-name: tooltipFadeIn;
	animation-play-state: running;
}

.rc-tooltip-animate-leave.rc-tooltip-animate-leave-active {
	animation-name: tooltipFadeOut;
	animation-play-state: running;
}
@keyframes tooltipFadeIn {
	0% {
		opacity: 0;
		transform: scale(0, 0);
		transform-origin: 50% 50%;
	}

	100% {
		opacity: 1;
		transform: scale(1, 1);
		transform-origin: 50% 50%;
	}
}
@keyframes tooltipFadeOut {
	0% {
		opacity: 1;
		transform: scale(1, 1);
		transform-origin: 50% 50%;
	}

	100% {
		opacity: 0;
		transform: scale(0, 0);
		transform-origin: 50% 50%;
	}
}

//*************************************************************************************************
// Plugin overwrite | React-Select
//*************************************************************************************************

.react-select {
	color: black !important;
	min-width: 25%;

	.react-select__control {
		&:hover {
			border-color: $main;
		}

		.reactselect__value-container {
		}

		.reactselect__indicators {
		}
	}

	.react-select__control--is-focused {
		@include focusEffect();
		border-color: $main;
	}

	.react-select__menu {
		.react-select__menu-list {
			.react-select__option:hover {
				background: transparentize($color: $main, $amount: 0.7);
			}

			.react-select__option--is-focused {
				background: transparentize($color: $main, $amount: 0.7);
			}

			.react-select__option--is-selected {
				background: $main;
			}
		}
	}
}

//*******************************************************************************************************************************************************
// Layout Elements
//******************************************************************************************************************************************************

//****************************************************************************
// Layout
//****************************************************************************

.body--layout {
	color: $grayLight;
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100vh;
}

.login {
	@include flex-center();

	background: radial-gradient($grayDarkAlt, $grayDark);
	background-color: $grayBlack;
	color: $grayLight;
	height: auto;
	min-height: 100vh;

	.login--window {
		@include themeborder(main);

		background-color: $grayDark;
		border: 0.35rem solid $main;
		box-shadow: $globalShadow;
		max-width: 25rem;
		width: 100%;

		.login--window--title {
			display: flex;
			justify-content: center;
			margin-top: 1rem;
		}

		.login--window--content {
			display: flex;
			flex-direction: column;
			padding: 2rem;

			.input-text {
				text-align: center;
				width: 100%;
			}

			.loginBtn {
				margin-top: 3rem;
			}

			.forgot-pass {
				display: flex;
				justify-content: center;
				padding: 1.5rem 0;
			}
		}
	}
}

.content-layout {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
}

nav.navigation {
	background-color: $grayDark;
	border-right: 0.05rem solid $grayBlack;
	flex: 0 0 15rem;
	height: auto;
	transition: $globalTransitionColors;
}

main.main {
	background-color: $grayDarkAlt;
	flex: 1 1 auto;
	height: auto;
	transition: $globalTransitionColors;
}

footer.footer {
	background-color: $grayDarkAlt;
	border-top: 0.05rem solid $grayBlack;
	padding: 0.4rem;
	text-align: center;
	transition: $globalTransitionColors;
}

//****************************************************************************
// Navigation
//****************************************************************************

nav.navigation {
	@include respond-below(lg) {
		flex: 0 0 5rem;
	}

	@include respond-below(sm) {
		flex: 0 0 2.5rem;
	}
	//navigation wrapper
	.navi-list {
		display: flex;
		flex-direction: column;
		list-style: none;
		position: sticky;
		top: 0;
		width: 100%;
	}

	//navi group title
	.navi-heading {
		color: $grayBlack !important;
	}

	//single nav item (li)
	.navi-item {
		margin: 0;

		> a {
			@extend %bgAndColorTransition;
			align-items: center;
			border-bottom: 0.15rem solid transparent;
			border-top: 0.15rem solid transparent;
			color: $grayLight;
			display: flex;
			font-size: 1rem;
			font-weight: 400;
			justify-content: space-between;
			padding: 0.6rem;
			text-align: left;
			white-space: nowrap;

			&:focus {
				@include focusEffect;
			}

			&:hover {
				border-bottom-color: $main;
				border-top-color: $main;
				color: $main;
			}

			&.active {
				background-color: $main;
				color: $white;

				&:hover {
					color: $white;
				}
			}

			.fa,
			.fas,
			.far {
				flex: 0 0 4rem;
				font-size: 1.2rem;
				text-align: center;
			}

			.pagename {
				flex: 1 1 auto;
			}
		}
	}

	.navi-item > a {
		@include respond-below(lg) {
			border: 0.15rem solid transparent;
			padding: 1rem 0.7rem;
			text-align: center;

			&:hover {
				@include themeborder(main);
				border: 0.15rem solid $main;
			}

			.fa,
			.fas {
				flex: 1 1 auto;
				font-size: 1.5rem;
			}

			.pagename {
				display: none;
			}
		}
	}
}

//****************************************************************************
// Footer
//****************************************************************************

footer {
	a,
	a:link {
		color: $grayMedium;
	}
}
