@charset "UTF-8";
@import '../../Styles/shared';

//****************************************************************************
// Component | TextInput
//****************************************************************************

.themeinput {
	background: none;
	color: $grayLight;
	display: flex;
	flex: 1 1 auto;
	font-size: $globalFontSize;
	outline: none;
	padding: 0.4rem 0.5rem;
	position: relative;
	width: 100%;

	&:focus {
		@include focusEffect();
	}

	.isNumeric & {
		max-width: 10rem;
		text-align: right;
	}

	.hasError & {
		background-color: transparentize($color: $errorColor, $amount: 0.7);

		&:focus {
			outline: 0.1rem solid $errorColor;
		}
	}

	.isDisabled & {
		@extend %disabled;
	}
}
