@charset "UTF-8";
@import '../../Styles/shared';

//****************************************************************************
// Component | Close button (animated x-mark)
//****************************************************************************

.close--button {
	align-items: center;
	background-color: $grayBlack;
	border: 0.1rem solid $grayBlack;
	border-radius: $globalRadius;
	display: flex;
	flex-direction: column;
	height: 1.5rem;
	justify-content: center;
	min-width: 2rem;
	position: relative;
	transition: background-color 0.6s;
	width: auto;

	&.noborder {
		border: initial !important;
	}

	&.light {
		background: none;
	}

	&:hover {
		background-color: $alt;
	}

	&::before,
	&::after {
		background-color: $grayDarkAlt;
		content: '';
		display: block;
		height: 0.3rem;
		position: absolute;
		transform: rotate(-45deg);
		transition: all 0.4s ease-out;
		width: 1.2rem;
	}

	&::after {
		transform: rotate(45deg);
	}

	&:hover::before,
	&:hover::after {
		background-color: $white;
		transform: rotate(0deg);
	}
}
